---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Welcome to My Website !</h2>
  <h3>...This Web currently under maintenance</h3>
</BaseLayout>
